# Monorepo Workspaces Dependency Folders
node_modules/

# OS metadata
.DS_Store

# Build outputs
dist/
dist-ssr/
build/
.turbo/

# Local environment variables and secrets
*.local
.env
.env.*
.env.local
.env.*.local
!.env.example
